.page__part_flats{
  position: relative;
  hr{
    margin: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #e6e7eb;
  }
}

.flats-nav{
  position: relative;
  width: 272px;
  margin: 0 auto 50px;
  background: #f3f3f5;
  border-radius: 24px;
  z-index: 5000;
  &__item{
    display: inline-block;
  }
  &__ln{
    display: block;
    padding: 10px 25px;
    color: #9b9eae;
    @include font-size(15px);
    line-height: 28px;
    border-radius: 24px;
    cursor: pointer;
    &_active{
      color: #fff;
      text-decoration: none;
      background: #2e47bb;
    }
  }
}

.choice-of-flats{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  &__left{
    flex: 1;
    padding: 50px 0 0;
    border-right: 1px solid #e6e7eb;
    >h2{
      margin: 0 0 20px;
      font-size: 40px;
    }
    >p{
      font-size: 15px;
      margin: 0 0 100px;
    }
  }
  &__right{
    flex: 1;
    padding: 50px 0 0;
  }
  &__info{
    margin: 0 0 20px;
    h2{
      margin: 0 0 20px;
      position: relative;
      font-size: 40px;
      z-index: 10;
      &:before{
        display: block;
        position: absolute;
        content: "";
        width: 40px;
        height: 40px;
        top : 0;
        left: 50%;
        margin-left: -20px;
        background: #a3fb31;
        border-radius: 20px;
        z-index: -1;
      }
    }
    p{

    }
  }
}

.apartment-tenants{
  overflow: hidden;
  width: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  &__item{
    position: relative;
    height: 100px;
    width: 200px;
    margin-bottom: 80px;
    cursor: pointer;
    &__img{
      position: relative;
      height: 100px;
      margin-bottom: 20px;
      &:after{
        display: block;
        width: 100px;
        height: 100px;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -50px;
        margin-left: -50px;
        border-radius: 50%;
        background: #e8e8e8;
      }
      img{
        display: block;
        position: relative;
        margin: 0 auto;
        height: 100%;
        z-index: 10;
      }
    }
    &__title{
      text-align: center;
      color: #3b6789;
    }
    &__add-user{
      position: absolute;
      opacity: 0;
      left: 10px;
      top: 50px;
      width: 20px;
      height: 20px;
      color: #fff;
      text-align: center;
      background: #2e47bb;
      border-radius: 10px;
      z-index: 1000;
    }
    &__delete-user{
      position: absolute;
      opacity: 0;
      right: 10px;
      top: 50px;
      width: 20px;
      height: 20px;
      color: #fff;
      text-align: center;
      background: #2e47bb;
      border-radius: 10px;
      z-index: 1000;
    }
    &:hover{
      .apartment-tenants__item__add-user, .apartment-tenants__item__delete-user{
        opacity: 1;
      }
      .apartment-tenants__item__img{
        &:after{
          background: #a3fb31;
        }
      }
    }
  }
}

.apartment-plan{
  &-wraper{
    position: relative;
    padding: 0 60px;
    width: 550px;
    margin: 0 auto;
    z-index: 2000;
  }
  &__btn{
    position: absolute;
    width: 16px;
    height: 31px; 
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
    &_prev{
      left: 20px;
      background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAYEBAQFBAYFBQYJBgUGCQsIBgYICwwKCgsKCgwQDAwMDAwMEAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/2wBDAQcHBw0MDRgQEBgUDg4OFBQODg4OFBEMDAwMDBERDAwMDAwMEQwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAAfABADAREAAhEBAxEB/8QAGAABAAMBAAAAAAAAAAAAAAAABQECBAj/xAAkEAACAQMDAwUAAAAAAAAAAAABAgMABBEFITESQVJRYWKywv/EABUBAQEAAAAAAAAAAAAAAAAAAAEA/8QAFREBAQAAAAAAAAAAAAAAAAAAADH/2gAMAwEAAhEDEQA/AOqSQASTgDck1Ibl9Tk2yunoeeDKR+KYEFm1OQqpK6ehw7DYykdh8KoiSqqqFUBVUYAHAFBHzwy2MrXVspaBjm4tx909/WkN0M0U0SyxMGRhkEUFepDOk28zXFjia3dsXEEZDYbyXHfyWkP/2Q==);
    }
    &_next{
      right: 20px;
      background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAYEBAQFBAYFBQYJBgUGCQsIBgYICwwKCgsKCgwQDAwMDAwMEAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/2wBDAQcHBw0MDRgQEBgUDg4OFBQODg4OFBEMDAwMDBERDAwMDAwMEQwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAAfABADAREAAhEBAxEB/8QAGAAAAgMAAAAAAAAAAAAAAAAABAUBAgj/xAAjEAACAQMCBwEAAAAAAAAAAAABAgMABBEFIRIxQVFSYWKy/8QAFQEBAQAAAAAAAAAAAAAAAAAAAQD/xAAVEQEBAAAAAAAAAAAAAAAAAAAAMf/aAAwDAQACEQMRAD8A0vl9MkwxLae52PMxE9/imgyBBAIOQdwRQUMqupVgGVhgg8iKkXBm0yQI5LWDnCMdzET0PxTQPmmjhiaWVgqKMkmggYIZb6Vbq5UrApzb25/b++1MCvCbmUXF9iG2RsQQSELxN5Pnr4rUjOgv/9k=);
    }
  }
  &__item{
    svg{
      transform: scale(1.1);
    }
    img{
      display: block;
      margin: 0 auto;
    }
  }
}

.big-btn{
  display: inline-block;
  padding: 12px 35px;
  color: #2e47bb;
  text-decoration: none;
  border: 2px solid #2e47bb;
  border-radius: 24px;
  &:hover{
    color: #fff;
    background: #2e47bb;
  }
}

.idea-last{
  display: block;
  position: absolute;
  width: 550px;
  top: 0;
  right: -120%;
  text-align: center;
  transform-origin: left top;
  transform: rotate(90deg);
  color: #f7f7f8;
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 2000;
}

#kitchen{
  cursor: pointer;
  &:hover{
    #kitchen-inner{
      opacity: 1;
    }
  }
}
#kitchen-inner{
  opacity: 0;
}
#balcony{
  cursor: pointer;
  &:hover{
    #balcony-inner{
      opacity: 1;
    }
  }
}
#balcony-inner{
  opacity: 0;
}
#living-room{
  cursor: pointer;
  &:hover{
   #living-room-inner{
    opacity: 1;
    }  
  }
}
#living-room-inner{
  opacity: 0;
}
#bathroom{
  cursor: pointer;
  &:hover{
    #bathroom-inner{
      opacity: 1;
    }
  }
}
#bathroom-inner{
  opacity: 0;
}
#corridor{
  cursor: pointer;
  &:hover{
    #corridor-inner{
      opacity: 1;
    }
  }
}
#corridor-inner{
  opacity: 0;
}