<header class="page-header">
    <div class="page-header__inner">
        <div class="page-header__part page-header__part_left">
            <div class="nav-general">
                <div class="nav-general__deception"></div>
                <div class="nav-general__title">
                    <span class="nav-general__txt show">Меню</span>
                    <div class="nav-general__logo">
                        <div class="nav-general__logo__inner">
                            <span class="nav-general__logo__part"></span>
                            <span class="nav-general__logo__part"></span>
                            <span class="nav-general__logo__part"></span>
                        </div>
                    </div>
                </div>
                <div class="nav-general__list">
                    <ul class="nav-general__list__inner">
                        <li class="nav-general__list__item">
                            <a href="#part-1" class="nav-general__list__ln">Главная</a>
                        </li>
                        <li class="nav-general__list__item">
                            <a href="#part-2" class="nav-general__list__ln">Проекты</a>
                        </li>
                        <li class="nav-general__list__item">
                            <a href="#part-3" class="nav-general__list__ln">Компания</a>
                        </li>
                        <li class="nav-general__list__item"> 
                            <a href="#part-4" class="nav-general__list__ln">Ценности</a>
                        </li>
                        <li class="nav-general__list__item">
                            <a href="#part-5" class="nav-general__list__ln">Квартиры</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-header__part page-header__part_right">
            <div class="nav-projects">
                <div class="nav-projects__deception"></div>
                <div class="nav-projects__title">
                    <span class="nav-projects__txt show">Проекты</span>
                    <div class="nav-projects__logo">
                        <span class="nav-projects__logo__part"></span>
                        <span class="nav-projects__logo__part"></span>
                        <span class="nav-projects__logo__part"></span>
                        <span class="nav-projects__logo__part"></span>
                        <span class="nav-projects__logo__part"></span>
                        <span class="nav-projects__logo__part"></span>
                    </div>
                </div>
                <div class="nav-projects__list">
                    <ul class="nav-projects__list__inner">
                        <li class="nav-projects__list__item">
                            <a href="#part-2" class="nav-projects__list__ln">Eurodvir</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>