<section id="part-5" class="page page__part page__part_flats">
    <header class="section-header animate-reveal">
        <h2 class="section-header__title">Идеальные планировки под вас</h2>
        <p class="section-header__sub">Учредителем является Швейцарская компания Intelligent Development PLC</p>
        <span class="section-header__number">04</span>
    </header>

    <div class="flats-nav">
        <div class="flats-nav__item">
            <span class="flats-nav__ln flats-nav__ln_active" data-flat="0">Idea-M</span>
        </div>
        <div class="flats-nav__item">
            <span href="#" class="flats-nav__ln" data-flat="1">Idea-L</span>
        </div>
        <div class="flats-nav__item">
            <span href="#" class="flats-nav__ln" data-flat="2">Idea-XL</span>
        </div>
    </div>
    <hr>


    <div class="choice-of-flats">
        <div class="choice-of-flats__left">
            <h2 class="text-center">Кто будет жить в квартире?</h2>
            <p class="text-center">Выбирите людей которые будут жить в квартире</p>

            <div class="apartment-tenants">
                <div class="apartment-tenants__item">
                    <div class="apartment-tenants__item__add-user apartment-tenants__item__add-user_1">+</div>
                    <div class="apartment-tenants__item__img">
                        <img src="img/user-1.svg" alt="">
                    </div>
                    <div class="apartment-tenants__item__delete-user apartment-tenants__item__delete-user_1">-</div>
                    <div class="apartment-tenants__item__title"><span class="counter1"></span> Мужчина</div>
                </div>
                <div class="apartment-tenants__item">
                    <div class="apartment-tenants__item__add-user apartment-tenants__item__add-user_2">+</div>
                    <div class="apartment-tenants__item__img">
                        <img src="img/user-2.svg" alt="">
                    </div>
                    <div class="apartment-tenants__item__delete-user apartment-tenants__item__delete-user_2">-</div>
                    <div class="apartment-tenants__item__title"><span class="counter2"></span> Женщина</div>
                </div>
                <div class="apartment-tenants__item">
                    <div class="apartment-tenants__item__add-user apartment-tenants__item__add-user_3">+</div>
                    <div class="apartment-tenants__item__img">
                        <img src="img/user-3.svg" alt="">
                    </div>
                    <div class="apartment-tenants__item__delete-user apartment-tenants__item__delete-user_3">-</div>
                    <div class="apartment-tenants__item__title"><span class="counter3"></span> Ребенок</div>
                </div>
                <div class="apartment-tenants__item">
                    <div class="apartment-tenants__item__add-user apartment-tenants__item__add-user_4">+</div>
                    <div class="apartment-tenants__item__img">
                        <img src="img/user-4.svg" alt="">
                    </div>
                    <div class="apartment-tenants__item__delete-user apartment-tenants__item__delete-user_4">-</div>
                    <div class="apartment-tenants__item__title"><span class="counter4"></span> Бабушка</div>
                </div>
                <div class="apartment-tenants__item">
                    <div class="apartment-tenants__item__add-user apartment-tenants__item__add-user_5">+</div>
                    <div class="apartment-tenants__item__img">
                        <img src="img/user-5.svg" alt="">
                    </div>
                    <div class="apartment-tenants__item__delete-user apartment-tenants__item__delete-user_5">-</div>
                    <div class="apartment-tenants__item__title"><span class="counter5"></span> Дедушка</div>
                </div>
                <div class="apartment-tenants__item">
                    <div class="apartment-tenants__item__add-user apartment-tenants__item__add-user_6">+</div>
                    <div class="apartment-tenants__item__img">
                        <img src="img/user-6.svg" alt="">
                    </div>
                    <div class="apartment-tenants__item__delete-user apartment-tenants__item__delete-user_6">-</div>
                    <div class="apartment-tenants__item__title"><span class="counter6"></span> Собака</div>
                </div>
            </div>
        </div>
        <div class="choice-of-flats__right">
            <div class="choice-of-flats__info">
                <h2 class="text-center">Idea studio</h2>

                <p class="text-center">Квартира для : 1 Мужчина</p>
            </div>

            <div class="apartment-plan-wraper">
                <div class="apartment-plan__btn apartment-plan__btn_prev"></div>
                <div class="apartment-plan__btn apartment-plan__btn_next"></div>
                <div class="apartment-plan">
                    <div class="apartment-plan__item">
                        //= test.html
                    </div>
                    <div class="apartment-plan__item">
                        //= test.html
                    </div>
                    <div class="apartment-plan__item">
                        //= test.html
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>