<section id="part-3" class="page__part page__part_info">
    <header class="section-header animate-reveal">
        <h2 class="section-header__title">О нашей компании</h2>
        <p class="section-header__sub">Учредителем является Швейцарская компания Intelligent Development PLC Основные акционеры компании<br>
            выходцы из B2B бизнеса, украинские иммигранты и иностранцы имеющие опыт работы на украинских рынках.</p>
        <span class="section-header__number">02</span>
    </header>

    <div class="partners-img text-center animate-reveal">
        <img src="img/partners.png" alt="">
    </div>

    <div class="navigator">
        <div class="navigator__inner">
            <div class="navigator__item animate-reveal">
                <div class="navigator__img navigator__img_room">
                    <img src="img/room.svg" style="margin-top: 30px;" alt="City hall">
                </div>
                <h3>Планирование</h3>
                <p>Фундамент нашего бизнеса. Продуман и<br>
                функционален каждый метр планировок.<br>
                Рассчитывайте на рациональное<br>
                и удобное жилье.</p>
            </div>
            <div class="navigator__item animate-reveal">
                <div class="navigator__img navigator__img_folder">
                    <img src="img/folder.svg" alt="City hall">
                </div>
                <h3>Качество</h3>
                <p>Мы гордимся качеством наших<br>
                продуктов, но не собираемся<br>
                останавливаться. Все, что можно<br>
                было бы улучшить, уже в работе.</p>
            </div>
            <div class="navigator__item animate-reveal">
                <div class="navigator__img navigator__img_house">
                    <img src="img/house.svg" alt="City hall">
                </div>
                <h3>Цена</h3>
                <p>Мы позаботились о том, чтобы<br>
                вложения оправдали ваши ожидания.<br>
                Оптимизируя процессы и расходы<br>
                мы предлагаем лучшие цены на рынке.</p>
            </div>
        </div>
    </div>
</section>