<section id="part-4" class="page page__part page__part_quality">
    <header class="section-header animate-reveal">
        <h2 class="section-header__title">Строим мир в котором хочется жить</h2>
        <p class="section-header__sub">Учредителем является Швейцарская компания Intelligent Development PLC</p>
        <span class="section-header__number">03</span>
    </header>
    

    <div class="base-container">
        <span class="idea-fouth">IDEA</span>
        <span class="bubble bubble_5 animate-reveal"></span>
        <span class="bubble bubble_6 animate-reveal"></span>
        <span class="bubble bubble_7 animate-reveal"></span>
        <span class="bubble bubble_8 animate-reveal"></span>    
    </div>
    
    <div class="quality-nav-wrap">
        <div class="quality-nav">
            <div class="quality-nav__item">
                <span class="quality-nav__ln quality-nav__ln_1 quality-nav__ln_active">Принципы</span>
            </div>
            <div class="quality-nav__item">
                <span class="quality-nav__ln quality-nav__ln_2">Ценности</span>
            </div>
            <div class="quality-nav__item">
                <span class="quality-nav__ln quality-nav__ln_3">Детализация</span>
            </div>
        </div>
    </div>


    <div class="quality-info-wrap">
        <div class="quality-info">
            <div class="quality-info__item quality-info__item_1">
                <h3>Матрица пространства</h3>
                <p>Мы спроектировали планировки, вмещающие больший
                функционал в тех же метрах. В их основе японские
                технологии, максимизирующие площадь общего
                пространства и отделяющие хозяйскую спальню.</p>

                <p>Каждый метр это оптимальное зонирование и
                соблюдение золотых пропорций жилых и служебных
                помещений. Мы постоянно работаем над рациональным
                использованием общественных зон в каждом
                проекте и не экономим на комфорте.</p>
            </div>
            <div class="quality-info__item quality-info__item_2 hide">
                <h3>Строим мир, в котором хочется жить</h3>

                <p>Мы зарождаем культуру и ценности Запада на украинском рынке, предлагая жить здесь и сейчас и в ногу со временем. Новые стандарты в жилье современной семьи — итоги нашей работы.</p>

                <p>Мы ценим свободу, которая не измеряется квадратными метрами: свобода выбора и возможность воплощать свои ценности в стиле жизни. Ваша свобода — наша ответственность.</p>
            </div>
            <div class="quality-info__item quality-info__item_3 hide">
                <h3>Общество и окружение</h3>

                <p>Мы создаем пространства комфорта и уюта. Фундамент каждого проекта — эмоции. Эмоции общества довольного окружением.</p>
                <p>Мы уверены — человек должен быть доволен тем, что его окружает. Дом не ограничивается рамками квартиры. Каждая часть проекта, будь то парадная, двор или квартал, — важна.</p>
                <p>Поэтому каждый наш проект начинается с тщательного выбора участка и первоклассного планирования мест общего пользования и придомовой территории.</p>
            </div>
        </div>
    </div>

    <div class="building-svg building-svg_1">
        //= building-svg_1.html
    </div>
    <div class="building-svg building-svg_2 hide">
        //= building-svg_2.html
    </div>
    <div class="building-svg building-svg_3 hide">
        //= building-svg_3.html
    </div>

</section>