<section id="part-1" class="page page__part page__part_slider">
    <div class="base-container">
        <span class="idea-first">IDEA</span>
        <span class="bubble bubble_1 animate-reveal"></span>
        <span class="bubble bubble_2 animate-reveal"></span>
        <span class="bubble bubble_3 animate-reveal"></span>
        <span class="bubble bubble_4 animate-reveal"></span>
    </div>

    <div class="city-title">
        <div class="city-title__item city-title__item_1">
            <h2>Европейское жилье по украинским ценам</h2>
            <p>Мы спроектировали планировки, вмещающие больший функционал</p>
        </div>
        <div class="city-title__item city-title__item_2">
            <h2>Комфортное расположение</h2>
            <p>Мы спроектировали планировки, вмещающие больший функционал</p>
        </div>
        <div class="city-title__item city-title__item_3">
            <h2>Продуманная инфраструктура</h2>
            <p>Мы спроектировали планировки, вмещающие больший функционал</p>
        </div>
    </div>

    <div class="city"></div>
    <div class="animate-slide">
        //= animate.html
    </div>
</section>