<section id="part-2" class="page__part page__part_projects">
    <header class="section-header animate-reveal">
        <h2 class="section-header__title">Наши проекты</h2>
        <p class="section-header__sub">Учредителем является Швейцарская компания</p>
        <span class="section-header__number">01</span>
    </header>


<div class="projects-wrapper">
    <div class="projects">
        <div class="projects__item">
            <div class="project">
                <div class="project__left">
                    <h2 class="project__name">Eurodvir 1</h2>
                    <div class="project__adress">г.Чернигов, ул.Любечская, 100</div>
                    <a href="#" class="project__more">Подробнее</a>
                </div>
                <div class="project__right">
                    <div class="project__img">
                        <img src="img/project_1.png" alt="">
                    </div>
                    <span class="project__big-name">Eurodvir</span>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div class="project">
                <div class="project__left">
                    <h2 class="project__name">Eurodvir 2</h2>
                    <div class="project__adress">г.Чернигов, ул.Любечская, 100</div>
                    <a href="#" class="project__more">Подробнее</a>
                </div>
                <div class="project__right">
                    <div class="project__img">
                        <img src="img/project_2.png" alt="">
                    </div>
                    <span class="project__big-name">Eurodvir</span>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div class="project">
                <div class="project__left">
                    <h2 class="project__name">Eurodvir 3</h2>
                    <div class="project__adress">г.Чернигов, ул.Любечская, 100</div>
                    <a href="#" class="project__more">Подробнее</a>
                </div>
                <div class="project__right">
                    <div class="project__img">
                        <img src="img/project_3.png" alt="">
                    </div>
                    <span class="project__big-name">Eurodvir</span>
                </div>
            </div>
        </div>
    </div>
    <div class="projects-info-wrap">
        <button id="btn-prev" class="projects-info__btn projects-info__btn_prev">back</button>
        <span class="projects-info">1/3</span>
        <button id="btn-next" class="projects-info__btn projects-info__btn_next">forward</button>
    </div>
</div>

</section>